body,
html {
    font-family: "JetBrains Mono", monospace !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Optional, if you want to stack items vertically */
    min-height: 100vh; /* Ensures the body takes the full viewport height */
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.post-title,
.site-title {
    font-family: "JetBrains Mono", monospace !important;
}

.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow:
        rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
        rgba(44, 187, 99, 0.15) 0 1px 2px,
        rgba(44, 187, 99, 0.15) 0 2px 4px,
        rgba(44, 187, 99, 0.15) 0 4px 8px,
        rgba(44, 187, 99, 0.15) 0 8px 16px,
        rgba(44, 187, 99, 0.15) 0 16px 32px;
    color: #2b2b2b; /* Updated for darker text */
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px;
}

.button-33:hover {
    box-shadow:
        rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
        rgba(44, 187, 99, 0.25) 0 1px 2px,
        rgba(44, 187, 99, 0.25) 0 2px 4px,
        rgba(44, 187, 99, 0.25) 0 4px 8px,
        rgba(44, 187, 99, 0.25) 0 8px 16px,
        rgba(44, 187, 99, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
    color: #000; /* Even darker text on hover */
}

.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin 10px;
    margin-top: 0px;
}
